.header{
    height: 80px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.container-fluid{
    height: 580px;
    width: 100%;
}
.section1st{
    height: 500px;
}
.lists{
    margin-left: 15px;
    margin-top:15px;
}
.alllist a{
    display: block;
}
.footer{
    height: 40px;
}

.listsitem{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}